modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[env]
PORT = "5000"

[workflows]
runButton = "Start application"

[[workflows.workflow]]
name = "Start application"
author = 46942602
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd web && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd mobile && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "turbo dev"

[[ports]]
localPort = 5000
externalPort = 80

[agent]
integrations = ["firebase_barebones_javascript==1.0.0"]
